{% extends "./base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6">

    <h4>Accounts</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Account</th>
          <th>Balance at beginning of month</th>
          <th>Balance at end of month</th>
        </tr>
      </thead>
      <tbody>
        {% for account, status in status_of_accounts.items %}
        <tr>
          <td>{{ account }}</td>
          <td>{{ status.0 }}</td>
          <td>{{ status.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if transfers %}
    <h4>Tranfer Transactions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value</th>
          <th>From</th>
          <th>To</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for transfer in transfers %}
        <tr>
          <td>{{ transfer.date.year }}-{{ transfer.date.month }}-{{ transfer.date.day }}</td>
          <td>{{ transfer.value }}</td>
          <td>{{ transfer.from_account }}</td>
          <td>{{ transfer.to_account }}</td>
          <td>{{ transfer.comment }}</td>
          <td><a href="{% url 'app:edit_transfer' transfer.id %}"><i class="fa fa-edit"></i></a><a href="{% url 'app:delete_transfer' transfer.id %}"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>

  <div class="col-md-6">

    <canvas id="barChart"></canvas>

  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <canvas id="expensesPieChart"></canvas>

  </div>

  <div class="col-md-6">

    <canvas id="incomePieChart"></canvas>

  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h4>Expenses</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Value</th>
          <th>Category Total</th>
        </tr>
      </thead>
      <tbody>
        {% for category, subcategory in expenses.items %}
        {% for subcat_name, value in subcategory.items %}
        <tr>
          {% if forloop.counter == 1 %}
          <td rowspan="{{ subcategory|length }}" ><b>{{ category }}</b></td>
          {% endif %}
          <td>{{ subcat_name }}</td>
          <td>{{ value }}</td>
          {% if forloop.counter == 1 %}
          <td rowspan="{{ subcategory|length }}">{{ expenses_aggregates|get_item:category }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="3">Total</td>
          <td><b>{{ total_expenses }}</b></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-6">

    <h4>Income</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Value</th>
          <th>Category Total</th>
        </tr>
      </thead>
      <tbody>
        {% for category, subcategory in income.items %}
        {% for subcat_name, value in subcategory.items %}
        <tr>
          {% if forloop.counter == 1 %}
          <td rowspan="{{ subcategory|length }}" ><b>{{ category }}</b></td>
          {% endif %}
          <td>{{ subcat_name }}</td>
          <td>{{ value }}</td>
          {% if forloop.counter == 1 %}
          <td rowspan="{{ subcategory|length }}">{{ income_aggregates|get_item:category }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="3">Total</td>
          <td><b>{{ total_income }}</b></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h4>Expense Transactions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value</th>
          <th>Subcategory</th>
          <th>Account</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in expense_transactions %}
        <tr>
          <td>{{ transaction.date.year }}-{{ transaction.date.month }}-{{ transaction.date.day }}</td>
          <td>{{ transaction.value }}</td>
          <td>{{ transaction.subcategory }}</td>
          <td>{{ transaction.account }}</td>
          <td>{{ transaction.comment }}</td>
          <td><a href="{% url 'app:edit_expense' transaction.id %}"><i class="fa fa-edit"></i></a> <a href="{% url 'app:delete_expense' transaction.id %}"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="col-md-6">
    <h4>Income Transactions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Value</th>
          <th>Subcategory</th>
          <th>Account</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in income_transactions %}
        <tr>
          <td>{{ transaction.date.year }}-{{ transaction.date.month }}-{{ transaction.date.day }}</td>
          <td>{{ transaction.value }}</td>
          <td>{{ transaction.subcategory }}</td>
          <td>{{ transaction.account }}</td>
          <td>{{ transaction.comment }}</td>
          <td><a href="{% url 'app:edit_income' transaction.id %}"><i class="fa fa-edit"></i></a> <a href="{% url 'app:delete_income' transaction.id %}"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('expensesPieChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'pie',
    data: {
      datasets: [{
        data: [
          {% for category, total in expenses_aggregates.items %}
          {{ total }},
          {% endfor %}
        ],
        backgroundColor: ['red', 'blue', 'green', 'purple', 'orange', 'yellow', 'brown', 'pink', 'black', 'gray', 'cyan'],
        label: 'Dataset 1'
      }],
      labels: [
        {% for category, total in expenses_aggregates.items %}
        '{{ category }}',
        {% endfor %}
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'bottom',
      },
      title: {
        display: true,
        text: 'Expenses Pie Chart'
      },
    },
  });

  var ctx = document.getElementById('incomePieChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'pie',
    data: {
      datasets: [{
        data: [
          {% for category, total in income_aggregates.items %}
          {{ total }},
          {% endfor %}
        ],
        backgroundColor: ['red', 'blue', 'green', 'purple', 'orange', 'yellow', 'brown', 'pink', 'black', 'gray', 'cyan'],
        label: 'Dataset 1'
      }],
      labels: [
        {% for category, total in income_aggregates.items %}
        '{{ category }}',
        {% endfor %}
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'bottom',
      },
      title: {
        display: true,
        text: 'Income Pie Chart'
      },
    }
  });

  var ctx = document.getElementById('barChart').getContext('2d');
  var barChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: [
      {% for account, status in status_of_accounts.items %}
      {% autoescape off %}
        "{{ account }}",
      {% endautoescape %}
      {% endfor %}
      ],
      datasets: [{
        label: 'Starting Balance',
        backgroundColor: 'red',
        borderWidth: 1,
        data: [
        {% for account, status in status_of_accounts.items %}
        {{ status.0 }},
        {% endfor %}
        ]
      }, {
        label: 'Closing balance',
        backgroundColor: 'blue',
        borderWidth: 1,
        data: [
        {% for account, status in status_of_accounts.items %}
        {{ status.1 }},
        {% endfor %}
        ]
      }]
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        position: 'bottom',
      },
      title: {
        display: true,
        text: 'Accounts Chart'
      },
    }
  });
</script>

<a class="btn btn-outline-success" href="{% url 'app:index' %}" style="margin-bottom: 20px;">Back</a>

{% endblock content %}
